Calculator/SOA/Schemas/CalculatorBPEL.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/Calculator/Calculator/CalculatorBPEL"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="Number1" type="int"/>
    <element name="Number2" type="int"/>
    <element name="Operation" type="string"/>
   </sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="result" type="decimal"/>
			</sequence>
		</complexType>
	</element>
</schema>